<%- include('../../fragments/header.ejs') %>

    <main>
        <h2>Przydziel szkodę do pracownika</h2>

        <div class="select">
            <select>

                <option>--wybierz szkodę--</option>
                <% for (let claim of claims) { %>
                    <option value="<%= claim.claimNo %>" label="<%= 'Numer: ' + claim.claimNo + ', Wartość: ' + claim.value %>"></option>
                <% } %>
                
            </select>
            <div class="select-arrow"></div>
        </div>

        

        <div class="select">
            <select>
                
                <option>--wybierz pracownika--</option>

                <% for (let emp of emps) { %>
                    <option value="<%= emp.empNo %>" label="<%= emp.firstName + ' ' + emp.lastName %>"></option>
                <% } %>

            </select>
        <div class="select-arrow"></div>
        </div>
             
      
    </main>

    <%- include('../../fragments/footer.ejs') %>

</body>
</html>

