<%- include('../../fragments/header.ejs') %>

    <main>
        <h2>Szczegóły szkody</h2>
       
        <form class="form">

            <label for="claimNumber">Number:</label>
            <input type="number" name="claimNumber" value="<%= claim.claimNo %>" id="claimNumber" disabled="true">
            <span></span>
            
            <label for="claimDate">Data:</label>
            <input type="date" name="claimDate" value="<%= claim.date.toISOString().split('T')[0] %>" id="claimDate" disabled="true">
            <span></span>

            <label for="claimValue">Wartość:</label>
            <input type="number" name="claimValue" value="<%= claim.value %>" id="claimValue" disabled="true">
            <span></span>

            <label for="claimCause">Przyczyna:</label>
            <input type="text" name="claimCause" value="<%= claim.cause %>" id="claimCause" disabled="true">
            <span></span>
            
        </form>

        <h2>Pracownicy przydzieleni do szkody</h2>

        <table class="table-list">
            <thead>
                <tr>
                    <th>Numer pracownika</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Przydzielony od</th>
                    <th>Przydzielony do</th>
                </tr>
            </thead>

            <tbody>
                <% for (let e of claim.employees) { %>
                    <tr>
                        <td><a href="/employees/details/<%= e.empNo %>"><%= e.empNo %></a></td>
                        <td><%= e.firstName %></td>
                        <td><%= e.lastName %></td>
                        <td><%= e.workStartDate.toISOString().split('T')[0]  %></td>
                        <td><%= e.workEndDate.toISOString().split('T')[0]  %></td>
                    </tr>
                <% } %>
            </tbody>
           
        </table>

        <p>
            <div class="form">
            <div class="form-buttons">
                <a href="/claims/edit/<%= claim.claimNo %>" class="form-button-assign">Edytuj</a>  
                <a href="/claims" class="form-button-cancel">Anuluj</a>   
        </div></div></p>
        
    </main>

    <%- include('../../fragments/footer.ejs') %>

</body>
</html>



