<%- include('../../fragments/header.ejs') %>

    <main>
        <h2><%= __('claim.claims.details.pageTitle') %></h2>
       
        <form class="form">

            <label for="claimNumber"><%= __('claim.claims.details.form.claimNumber') %></label>
            <input type="number" name="claimNumber" value="<%= claim.claimNo %>" id="claimNumber" disabled="true">
            <span></span>
            
            <label for="claimDate"><%= __('claim.claims.details.form.claimDate') %></label>
            <input type="date" name="claimDate" value="<%= claim.date.toISOString().split('T')[0] %>" id="claimDate" disabled="true">
            <span></span>

            <label for="claimValue"><%= __('claim.claims.details.form.claimValue') %></label>
            <input type="number" name="claimValue" value="<%= claim.value %>" id="claimValue" disabled="true">
            <span></span>

            <label for="claimCause"><%= __('claim.claims.details.form.cause') %></label>
            <input type="text" name="claimCause" value="<%= claim.cause %>" id="claimCause" disabled="true">
            <span></span>
            
        </form>

        <h2><%= __('claim.claims.details.pageTitle2') %></h2>

        <table class="table-list">
            <thead>
                <tr>
                    <th><%= __('claim.claims.details.table-list.empNumber') %></th>
                    <th><%= __('claim.claims.details.table-list.firstName') %></th>
                    <th><%= __('claim.claims.details.table-list.lastName') %></th>
                    <th><%= __('claim.claims.details.table-list.workStartDate') %></th>
                    <th><%= __('claim.claims.details.table-list.workEndDate') %></th>
                </tr>
            </thead>

            <tbody>
                <% for (let e of claim.employees) { %>
                    <tr>
                        <td><a href="/employees/details/<%= e.empNo %>"><%= e.empNo %></a></td>
                        <td><%= e.firstName %></td>
                        <td><%= e.lastName %></td>
                        <td><%= e.workStartDate.toISOString().split('T')[0]  %></td>                       
                        <td><%= e.workEndDate ? e.workEndDate.toISOString().split('T')[0] : '' %></td>
                    </tr>
                <% } %>
            </tbody>
          
           
        </table>

        <p>
            <div class="form">
            <div class="form-buttons">
                <a href="/claims/edit/<%= claim.claimNo %>" class="form-button-assign"><%= __('claim.claims.details.form-buttons.form-button-assign') %></a>  
                <a href="/claims" class="form-button-cancel"><%= __('claim.claims.details.form-buttons.form-button-cancel') %></a>   
        </div></div></p>
        
    </main>

    <%- include('../../fragments/footer.ejs') %>

</body>
</html>



