
<%- include('../../fragments/header.ejs') %>

    <main>
        <h2>Edytuj szkodę</h2>

        <script type="application/javascript" src="/js/validationClaimForm.js"></script>
        <form class="form" method="post" action="/claims/doedit" novalidate onsubmit="return validateForm();">
            
            <input type="hidden" name="claimNo" value="<%= claim.claimNo %>">
            
            <label for="claimDate">Data:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="date" name="date" id="claimDate" value="<%= claim.date.toISOString().split('T')[0] %>" />
            <span id="errorClaimDate" class="errors-text"></span>

            <label for="claimValue">Wartość:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="number" name="value" id="claimValue" value="<%= claim.value %>" />
            <span id="errorClaimValue" class="errors-text"></span>

            <label for="claimCause">Przyczyna:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="cause" id="claimCause" value="<%= claim.cause %>" />
            <span id="errorClaimCause" class="errors-text"></span>
            
            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <input type="submit" class="form-button-submit" value="Zmodyfikuj" />
                <a href="/claims" class="form-button-cancel">Anuluj</a>
            </div>

        </form>
 
    </main>

    <%- include('../../fragments/footer.ejs') %>

</body>
</html>
