
<%- include('../../fragments/header.ejs') %>

    <main>
        <h2><%= __('claim.claims.edit.pageTitle') %></h2>

        <script type="application/javascript" src="/js/validationClaimForm.js"></script>
                
        <form class="form" method="post" action="/claims/doedit" novalidate onsubmit="return validateForm();">

            <div style="display: none">
                <span id="errorMessage-required"><%= __('validation.fieldRequired') %></span>
                <span id="errorMessage-characters"><%= __('validation.characters') %></span>
                <span id="errorMessage-date"><%= __('validation.date') %></span>
                <span id="errorMessage-fdate"><%= __('validation.fdate') %></span>
                <span id="errorMessage-number"><%= __('validation.number') %></span>
                <span id="errorMessage-pnumber"><%= __('validation.pnumber') %></span>
            </div>
            
            <input type="hidden" name="claimNo" value="<%= claim.claimNo %>">
            
            <label for="claimDate"><%= __('claim.claims.edit.form.claimDate') %><abbr title="required" aria-label="required">*</abbr></label>
            <input 

            <% if (validationErrors != null) { %>      
                class="<%= validationErrors.find(e => e.path.includes('date')) ? 'error-input' : '' %>"
            <% } %>
            
            type="date" name="date" id="claimDate" 
            
            <% if (validationErrors != null) { %>      
                value="<%= claim.date %>" />
            <% } else { %>
                value="<%= claim.date.toISOString().split('T')[0] %>" />
            <% } %>          
            
            <span id="errorClaimDate" class="errors-text">

            <% if (validationErrors != null) { %>                
                <% if (validationErrors.find(e => e.path.includes('date'))) { %>
                    <%= validationErrors.find(e => e.path.includes('date')).message %>
            <% } %>
            <% } %>

            </span>

            <label for="claimValue"><%= __('claim.claims.edit.form.claimValue') %><abbr title="required" aria-label="required">*</abbr></label>
            <input 
            
            <% if (validationErrors != null) { %>      
                class="<%= validationErrors.find(e => e.path.includes('value')) ? 'error-input' : '' %>"
            <% } %>
            
            type="number" name="value" id="claimValue" value="<%= claim.value %>" />
            <span id="errorClaimValue" class="errors-text">

            <% if (validationErrors != null) { %>                
                <% if (validationErrors.find(e => e.path.includes('value'))) { %>
                    <%= validationErrors.find(e => e.path.includes('value')).message %>
            <% } %>
            <% } %>

            </span>

            <label for="claimCause"><%= __('claim.claims.edit.form.claimCause') %><abbr title="required" aria-label="required">*</abbr></label>
            <input 
            
            <% if (validationErrors != null) { %>      
                class="<%= validationErrors.find(e => e.path.includes('cause')) ? 'error-input' : '' %>"
            <% } %>
            
            type="text" name="cause" id="claimCause" value="<%= claim.cause %>" />
            <span id="errorClaimCause" class="errors-text">

            <% if (validationErrors != null) { %>                
                <% if (validationErrors.find(e => e.path.includes('cause'))) { %>
                    <%= validationErrors.find(e => e.path.includes('cause')).message %>
            <% } %>
            <% } %>

            </span>
            
            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <input type="submit" class="form-button-submit" value="<%= __('claim.claims.edit.form-buttons.form-button-submit') %>" />
                <a href="/claims" class="form-button-cancel"><%= __('claim.claims.edit.form-buttons.form-button-cancel') %></a>
            </div>

        </form>
 
    </main>

    <%- include('../../fragments/footer.ejs') %>

</body>
</html>
