<%- include('../../fragments/header.ejs') %>

    <main>
        <% if(claimModified == 'true') { %>
            <div>
                <p class="message" ><%= __('confirmations.updateClaim') %> </p>
            </div>
        <% } %>

        <% if(claimModified == 'del') { %>
            <div>
                <p class="message" ><%= __('confirmations.deleteClaim') %> </p>
            </div>
        <% } %>

        <% if(claimModified == 'assign') { %>
            <div>
                <p class="message" ><%= __('confirmations.assignClaim') %> </p>
            </div>
        <% } %>

        <% if(claimModified == 'add') { %>
            <div>
                <p class="message" ><%= __('confirmations.addClaim') %> </p>
            </div>
        <% } %>

        <h2><%= __('claim.list.pageTitle') %></h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th><%= __('claim.fields.claimNo') %></th>
                    <th><%= __('claim.fields.date') %></th>
                    <th><%= __('claim.fields.value') %></th>
                    <th><%= __('claim.fields.cause') %></th>
                    <th><%= __('claim.fields.actions') %></th>
                </tr>
            </thead>

            <tbody>
                <% for (let claim of claims) { %>
                    <tr>
                        <td><%= claim.claimNo %></td>
                        <td><%= claim.date.toISOString().split('T')[0] %></td>
                        <td><%= claim.value %></td>
                        <td><%= claim.cause %></td>
                        <td>
                            <ul class="list-actions">
                                <li><a href="/claims/details/<%=claim.claimNo%>" class="list-actions-button-details"><%= __('claim.fields.list-action-button-details') %></a></li>
                                <li><a href="/claims/edit/<%=claim.claimNo%>" class="list-actions-button-edit"><%= __('claim.claims.edit.form-buttons.form-button-submit') %></a></li>
                                <li><a href="/claims/delete/<%=claim.claimNo%>" onclick="return confirm('To skasuje szkodę. Kontynuować? \n This will delete claim. Continue?');"
                                    class="list-actions-button-delete"><%= __('claim.claims.edit.form-buttons.form-button-delete') %></a></li>
                            </ul>
                        </td>
                    </tr>
                <% } %>
            </tbody>          
        </table>

        <p><a href="/claims/assign" class="form-button-submit"><%= __('claim.claims.assign.pageTitle') %></a></p>
        <p><a href="/claims/add" class="form-button-submit"><%= __('claim.claims.add.pageTitle') %></a></p> 

    </main>

    <%- include('../../fragments/footer.ejs') %>

</body>
</html>

