<%- include('../../fragments/header.ejs') %>

    <main>
        <h2>Szczegóły pracownika</h2>

        <form class="form">
            
            <label for="empNumber">Numer:</label>
            <input type="number" name="empNumber" value="<%= emp.empNo %>" id="empNumber" disabled="true">
            <span></span>
            
            <label for="firstName">Imię:</label>
            <input type="text" name="firstName" value="<%= emp.firstName %>" id="firstName" disabled="true">
            <span></span>
            
            <label for="lastName">Nazwisko:</label>
            <input type="text" name="lastName" value="<%= emp.lastName %>" id="lastName" disabled="true">
            <span></span>

            <label for="email">Email:</label>
            <input type="text" name="email" value="<%= emp.email %>" id="email" disabled="true">
            <span></span>

        </form>

        <h2>Szkody przydzielone do pracownika</h2>

        <table class="table-list">
            <thead>
            <tr>
                <th>Numer szkody</th>
                <th>Wartość</th>
                <th>Przydzielona od</th>
                <th>Przydzielona do</th>
            </tr>
            </thead>
            <tbody>
            <% for (let c of emp.claims) { %>
                <tr>
                    <td><a href="/claims/details/<%= c.claimNo %>"><%= c.claimNo %></a></td>
                    <td><%= c.value %></td>
                    <td><%= c.workStartDate.toISOString().split('T')[0] %></td>
                    <td><%= c.workEndDate ? c.workEndDate.toISOString().split('T')[0] : '' %></td>
                </tr>
            <% } %>
            </tbody>
        </table>

        <p>
            <div class="form">
            <div class="form-buttons">
                <a href="/employees/edit/<%= emp.empNo %>" class="form-button-assign">Edytuj</a>  
                <a href="/employees" class="form-button-cancel">Anuluj</a>  
            </div></div>
        </p>

    </main>

    <%- include('../../fragments/footer.ejs') %> 

</body>
</html>