<%- include('../../fragments/header.ejs') %>

    <main>
        <h2><%= __('emp.employee.details.pageTitle') %></h2>

        <form class="form">
            
            <label for="empNumber"><%= __('emp.employee.details.form.empNumber') %></label>
            <input type="number" name="empNumber" value="<%= emp.empNo %>" id="empNumber" disabled="true">
            <span></span>
            
            <label for="firstName"><%= __('emp.employee.details.form.firstName') %></label>
            <input type="text" name="firstName" value="<%= emp.firstName %>" id="firstName" disabled="true">
            <span></span>
            
            <label for="lastName"><%= __('emp.employee.details.form.lastName') %></label>
            <input type="text" name="lastName" value="<%= emp.lastName %>" id="lastName" disabled="true">
            <span></span>

            <label for="email"><%= __('emp.employee.details.form.email') %></label>
            <input type="text" name="email" value="<%= emp.email %>" id="email" disabled="true">
            <span></span>

        </form>

        <h2><%= __('emp.employee.details.pageTitle2') %></h2>

        <table class="table-list">
            <thead>
            <tr>
                <th><%= __('emp.employee.details.table-list.claimNumber') %></th>
                <th><%= __('emp.employee.details.table-list.value') %></th>
                <th><%= __('emp.employee.details.table-list.workStartDate') %></th>
                <th><%= __('emp.employee.details.table-list.workEndDate') %></th>
            </tr>
            </thead>
            <tbody>
            <% for (let c of emp.claims) { %>
                <tr>
                    <td><a href="/claims/details/<%= c.claimNo %>"><%= c.claimNo %></a></td>
                    <td><%= c.value %></td>
                    <td><%= c.workStartDate.toISOString().split('T')[0] %></td>
                    <td><%= c.workEndDate ? c.workEndDate.toISOString().split('T')[0] : '' %></td>
                </tr>
            <% } %>
            </tbody>
        </table>

        <p>
            <div class="form">
            <div class="form-buttons">
                <a href="/employees/edit/<%= emp.empNo %>" class="form-button-assign"><%= __('emp.employee.details.form-buttons.form-button-assign') %></a>  
                <a href="/employees" class="form-button-cancel"><%= __('emp.employee.details.form-buttons.form-button-cancel') %></a>  
            </div></div>
        </p>

    </main>

    <%- include('../../fragments/footer.ejs') %> 

</body>
</html>