<%- include('../../fragments/header.ejs') %>

    <main>
        <h2><%= __('emp.employee.edit.pageTitle') %></h2>
        <form class="form" method="post" action="/employees/doedit" novalidate onsubmit="return validateForm();">

            <div style="display: none">
                <span id="errorMessage-required"><%= __('validation.fieldRequired') %></span>
                <span id="errorMessage-characters"><%= __('validation.characters') %></span>
                <span id="errorMessage-email"><%= __('validation.email') %></span>
                
            </div>
            
            <input type="hidden" name="empNo" value="<%= emp.empNo %>">

            <label for="firstName"><%= __('emp.employee.edit.form.firstName') %><abbr title="required" aria-label="required">*</abbr></label>
            <input 
            
            <% if (validationErrors != null) { %>      
            class="<%= validationErrors.find(e => e.path.includes('firstName')) ? 'error-input' : '' %>"
            <% } %>
            
            type="text" name="firstName" id="firstName" value="<%= emp.firstName %>" />
            <span id="errorFirstName" class="errors-text">
                
            <% if (validationErrors != null) { %>                
            <% if (validationErrors.find(e => e.path.includes('firstName'))) { %>
                <%= validationErrors.find(e => e.path.includes('firstName')).message %>
            <% } %>
            <% } %>

            </span>

            <label for="lastName"><%= __('emp.employee.edit.form.lastName') %><abbr title="required" aria-label="required">*</abbr></label>
            <input 
            
            <% if (validationErrors != null) { %>      
                class="<%= validationErrors.find(e => e.path.includes('lastName')) ? 'error-input' : '' %>"
            <% } %>
            
            type="text" name="lastName" id="lastName" value="<%= emp.lastName %>" />
            <span id="errorLastName" class="errors-text">

            <% if (validationErrors != null) { %>                
            <% if (validationErrors.find(e => e.path.includes('lastName'))) { %>
                <%= validationErrors.find(e => e.path.includes('lastName')).message %>
            <% } %>
            <% } %>

            </span>
            
            <label for="email"><%= __('emp.employee.edit.form.email') %><abbr title="required" aria-label="required">*</abbr></label>
            <input 
            
            <% if (validationErrors != null) { %>      
                class="<%= validationErrors.find(e => e.path.includes('email')) ? 'error-input' : '' %>"
            <% } %>
            
            type="text" name="email" id="email" value="<%= emp.email %>" />
            <span id="errorEmail" class="errors-text">

            <% if (validationErrors != null) { %>                
            <% if (validationErrors.find(e => e.path.includes('email'))) { %>
                <%= validationErrors.find(e => e.path.includes('email')).message %>
            <% } %>
            <% } %>

            </span>
            
            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <input type="submit" class="form-button-submit" value="<%= __('emp.employee.edit.form-buttons.form-button-submit') %>"/>
                <a href="/employees" class="form-button-cancel"><%= __('emp.employee.edit.form-buttons.form-button-cancel') %></a>
            </div>
        </form>
    </main>

    <%- include('../../fragments/footer.ejs') %>
    
</body>
</html>
