<%- include('../../fragments/header.ejs') %>

    <main>
        <h2>Edytuj pracownika</h2>
        <form class="form" method="post" action="/employees/doedit" novalidate onsubmit="return validateForm();">
            
            <input type="hidden" name="empNo" value="<%= emp.empNo %>">

            <label for="firstName">Imię:<abbr title="required" aria-label="required">*</abbr></label>
            <input 
            
            <% if (validationErrors != null) { %>      
            class="<%= validationErrors.find(e => e.path.includes('firstName')) ? 'error-input' : '' %>"
            <% } %>
            
            type="text" name="firstName" id="firstName" value="<%= emp.firstName %>" />
            <span id="errorFirstName" class="errors-text">
                
            <% if (validationErrors != null) { %>                
            <% if (validationErrors.find(e => e.path.includes('firstName'))) { %>
                <%= validationErrors.find(e => e.path.includes('firstName')).message %>
            <% } %>
            <% } %>

            </span>
            
            <label for="lastName">Nazwisko:<abbr title="required" aria-label="required">*</abbr></label>
            <input 
            
            <% if (validationErrors != null) { %>      
                class="<%= validationErrors.find(e => e.path.includes('lastName')) ? 'error-input' : '' %>"
            <% } %>
            
            type="text" name="lastName" id="lastName" value="<%= emp.lastName %>" />
            <span id="errorLastName" class="errors-text">

            <% if (validationErrors != null) { %>                
            <% if (validationErrors.find(e => e.path.includes('lastName'))) { %>
                <%= validationErrors.find(e => e.path.includes('lastName')).message %>
            <% } %>
            <% } %>

            </span>
            
            <label for="email">E-mail:<abbr title="required" aria-label="required">*</abbr></label>
            <input 
            
            <% if (validationErrors != null) { %>      
                class="<%= validationErrors.find(e => e.path.includes('email')) ? 'error-input' : '' %>"
            <% } %>
            
            type="text" name="email" id="email" value="<%= emp.email %>" />
            <span id="errorEmail" class="errors-text">

            <% if (validationErrors != null) { %>                
            <% if (validationErrors.find(e => e.path.includes('email'))) { %>
                <%= validationErrors.find(e => e.path.includes('email')).message %>
            <% } %>
            <% } %>

            </span>
            
            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <input type="submit" class="form-button-submit" value="Zmodyfikuj"/>
                <a href="/employees" class="form-button-cancel">Anuluj</a>
            </div>
        </form>
    </main>

    <%- include('../../fragments/footer.ejs') %>
    
</body>
</html>
