<%- include('../../fragments/header.ejs') %>

    <main>
        <h2>Lista pracowników</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Numer</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>E-mail</th>
                    <th>Akcje</th>
                </tr>
            </thead>

            <tbody>
                <% for (let emp of emps) { %>
                    <tr>
                        <td><%= emp.empNo %></td>
                        <td><%= emp.firstName %></td>
                        <td><%= emp.lastName %></td>
                        <td><%= emp.email %></td>
                        <td>
                            <ul class="list-actions">
                                <li><a href="/employees/details/<%=emp.empNo%>" class="list-actions-button-details">Szczegóły</a></li>
                                <li><a href="/employees/edit/<%=emp.empNo%>" class="list-actions-button-edit">Edytuj</a></li>
                                <li><a href="/employees/delete/<%=emp.empNo%>" class="list-actions-button-delete">Usuń</a></li>
                            </ul>
                        </td>
                    </tr>
                <% } %>
            </tbody>
                
                 
        </table>

        <p><a href="/employees/assign" class="form-button-submit">Przydziel pracownika do szkody</a></p>

    </main>

    <%- include('../../fragments/footer.ejs') %>
    
</body>
</html>

