<%- include('../../fragments/header.ejs') %>

    <main>
        
        <% if(empModified == 'true') { %>
            <div>
                <p class="message" ><%= __('confirmations.updateEmp') %> </p>
            </div>
        <% } %>

        <% if(empModified == 'del') { %>
            <div>
                <p class="message" ><%= __('confirmations.deleteEmp') %> </p>
            </div>
        <% } %>

        <h2><%= __('emp.list.pageTitle') %></h2>
        
       <table class="table-list">
            <thead>
                <tr>
                    <th><%= __('emp.list.empNumber') %></th>
                    <th><%= __('emp.fields.firstName') %></th>
                    <th><%= __('emp.fields.lastName') %></th>
                    <th><%= __('emp.fields.email') %></th>
                    <th><%= __('list.actions.title') %></th>
                </tr>
            </thead>

            <tbody>
                <% for (let emp of emps) { %>
                    <tr>
                        <td><%= emp.empNo %></td>
                        <td><%= emp.firstName %></td>
                        <td><%= emp.lastName %></td>
                        <td><%= emp.email %></td>
                        <td>
                            <ul class="list-actions">
                                <li><a href="/employees/details/<%=emp.empNo%>" class="list-actions-button-details"><%= __('list.actions.details') %></a></li>
                                <li><a href="/employees/edit/<%=emp.empNo%>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a></li>
                                <li><a href="/employees/delete/<%=emp.empNo%>" onclick="return confirm('To skasuje pracownika. Kontynuować? \n This will delete employee. Continue?');"
                                    class="list-actions-button-delete"><%= __('list.actions.delete') %></a></li>
                            </ul>
                        </td>
                    </tr>
                <% } %>
            </tbody>
                
                 
        </table>

        <p><a href="/employees/assign" class="form-button-submit"><%= __('emp.employee.assign.pageTitle') %></a></p>

    </main>

    <%- include('../../fragments/footer.ejs') %>
    
</body>
</html>

