<%- include('../../fragments/header.ejs') %>

    <main>
        <h2><%= __('policy.fields.pageTitle') %></h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th><%= __('policy.fields.policyNo') %></th>
                    <th><%= __('policy.fields.startDate') %></th>
                    <th><%= __('policy.fields.endDate') %></th>
                    <th><%= __('policy.fields.sumInsured') %></th>
                    <th><%= __('policy.fields.insurerId') %></th>
                    <th><%= __('policy.fields.actions') %></th>
                </tr>
            </thead>

            <tbody>
                <% for (let policy of policies) { %>
                    <tr>
                        <td><%= policy.policyNo %></td>
                        <td><%= policy.startDate.toISOString().split('T')[0] %></td>
                        <td><%= policy.endDate.toISOString().split('T')[0] %></td>
                        <td><%= policy.sumInsured %></td>
                        <td><%= policy.insurerId %></td>
                        <td>
                            <ul class="list-actions">
                                <li><a href="/policies/details/<%=policy.policyNo%>" class="list-actions-button-details"><%= __('policy.fields.list-action-button-details') %></a></li>
                            </ul>
                        </td>
                    </tr>
                <% } %>
            </tbody>
          
        </table>

    </main>

    <%- include('../../fragments/footer.ejs') %>

</body>
</html>

